<style>

.info-wrap__card {
   display: none !important;
}


.main-button {
   display: none !important;
}

.card-item {
   display: none !important;
}


.form-wrapper {
   display: none !important;
}


.social-link-footer {
   display: none !important;
}


.social-link {
   display: none !important;
}


.b24-widget-button-wrapper {
   display: none !important;
}

</style>
